/* Definindo o gradiente de fundo para o body */
body {
    margin: center; /* Remove a margem padrão do corpo da página */
    font-family: Arial, sans-serif; /* Define a fonte como Arial ou uma fonte sem serifa */
    background: linear-gradient(to right, #3498db, #8e44ad); /* Aplica um gradiente de azul para roxo no fundo */
    color: #fff; /* Define a cor do texto como branco */
    padding: 10px; /* Adiciona 10 pixels de preenchimento ao redor do cabeçalho */
}

/* Estilizando o Titulo INTELIHOME da página */
h1 {
    font-size: 38px; /* Define o tamanho da fonte dos links em 30px*/
    color: #8e44ad; /* Define um fundo roxo semitransparente */
}

/* Estilizando o cabeçalho */
header {
    display: flex; /* Utiliza o modelo de layout flexível */
    justify-content: space-between; /* Espaça os itens igualmente entre o início e o fim do container */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    padding: 60px; /* Adiciona 60 pixels de preenchimento ao redor do cabeçalho */
    background-color: rgba(0, 0, 0, 0.5); /* Define um fundo preto semitransparente */
    border-radius: 10px; /* Arredonda os cantos da borda */
}

/* Estilizando o menu (Home, Produtos, Carrinho e Checkout)*/
nav ul {
    list-style: none; /* Remove os marcadores de lista padrão */
    display: flex; /* Exibe os itens em linha usando o modelo flexível */
    gap: 20px; /* Adiciona 20 pixels de espaço entre os itens */
}

nav ul li {
    display: inline; /* Exibe cada item da lista em linha */
}

/* Estilo dos links do menu */
nav ul li a {
    color: #fff; /* Define a cor do texto como branco */
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    font-size: 25px; /* Define o tamanho da fonte dos links em 30px*/
    margin-left: 8%; /* Adiciona margem à esquerda de 8 px*/

}

/* Estilo do contador do carrinho */
#cart-count {
    font-size: 25px; /* Define o tamanho da fonte do contador do carrinho em 25 px*/
    margin-left: 300px; /* Adiciona margem à esquerda em 10px*/
}

/* Estilizando a seção de produtos */
#products {
    display: flex; /* Utiliza o layout flexível para organizar os produtos */
    justify-content: space-around; /* Distribui os produtos igualmente ao longo do container */
    padding: 20px; /* Adiciona 20 pixels de preenchimento ao redor da seção de produtos */
    gap: 40px; /* Adiciona 40 pixels de espaço entre os itens */
    margin-top: 2%;
    object-fit: cover; /* A imagem será cortada para caber no contêiner */
}

/* Estilizando cada produto */
.product {
    background-color: rgba(255, 255, 255, 0.1); /* Define um fundo branco semitransparente */
    padding: 20px; /* Adiciona 20 pixels de preenchimento interno (Borda Transparente)*/
    border-radius: 20px; /* Arredonda os cantos do container em 20 pixels */
    text-align: center; /* Alinha o conteúdo ao centro */
    margin-top: 2%;
    object-fit: cover; /* A imagem será cortada para caber no contêiner */
}

/* Estiliza as imagens dos produtos na página produto */
.product img {
    width: 70%;
    height: auto;
    margin:center; /* Adiciona margem à esquerda */
    float: center; /* Alinha o carrinho ao centro */
    border-radius: 20px; /* Arredonda os cantos do container em 20 pixels */
}

/* Estilizando o botão */
button {
    background-color: #f39c12; /* Define a cor de fundo do botão como verde */
    border: none; /* Remove a borda padrão do botão */
    padding: 10px 20px; /* Adiciona 10 pixels de preenchimento vertical e 20 pixels horizontal */
    color: #fff; /* Define a cor do texto do botão como branco */
    cursor: pointer; /* Muda o cursor para uma mãozinha ao passar sobre o botão */
    border-radius: 5px; /* Arredonda os cantos do botão em 5 pixels */
    font-size: 16px; /* Define o tamanho da fonte do botão */
}

/* Estilizando o botão ao passar sobre o mouse */
button:hover {
    background-color: orange; /* Muda a cor de fundo do botão quando o mouse passa sobre ele */
}

/* Estilizando as propriedades do carrinho */
.cesto {
    width: 90px;
    height: auto;
    margin-left: 20px; /* Adiciona margem à esquerda */
}

/* Estilizando a imagem do carrinho */
.cesto img {
    width: 100%;
    height: auto;
    margin-left: -250px; /* Adiciona margem à esquerda */
    float: center; /* Alinha o carrinho ao centro */
}













/* Estilizando banner superior do Home */
#bannerHome {
    position: relative; /* Define o banner com position relativa */
    height: auto; /* A altura será ajustada de acordo com o conteúdo */
    display: flex; /* Flexbox para centralizar o conteúdo */
    justify-content: center; /* Centraliza o banner horizontalmente */
    align-items: center; /* Centraliza o banner verticalmente */
    padding: 10px; /* Espaçamento ao redor do banner em 10px*/
    margin-top: 90px;
}

.bannerSup {
    max-width: 100%; /* A largura máxima será 100% do container */
    text-align: center; /* Centraliza o conteúdo da div */
}

.bannerSup img {
    width: 1320px; /* Define a largura da imagem */
    height: auto; /* Define a altura da imagem */
    margin-left: center; /* Alinha a imagem à direita */
    margin-right: auto; /* Garante que a margem direita seja zero */
    display: block; /* Faz a imagem se comportar como um bloco */
    border-radius: 10px;
}
